*
h2{
  visibility: visible;
  display: block;
}

h3{
  visibility: hidden;
}
p
{
	visibility: collapse;
}
div
{
	display: block;
}
span
{
	display: none;
}
section
{
	display: inline;
}